a {
    font-family: 'Inconsolata', monospace;
    color:olivedrab;
    text-decoration: none;
}

a:hover {
    color:lightcoral;
}

p {
    font-family: 'Inconsolata', monospace;
    position: relative;
    text-align: center;
}

.title {
    font-size:x-large;
    text-align:center;
    color:red;
    font-family: 'Inconsolata', monospace;
}

#about_body {
    background-color: cornflowerblue;
    color:white;
    background-size: 100%;
    background-image: url("https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif");
}
